.form-check {
  margin-bottom: 10px;
  margin-left: 15px;
}

.form-check .form-check-input[type=radio] {
  border-radius: 100%;
  height: 18px;
  width: 18px;
}

.form-check label {
  margin-left: 10px;
  margin-top: 1px;
  font-size: 17px;
}

.btn-filter {
  width: 87%;
  margin-left: 15px;
  margin-top: 58px;
  border-radius: 5px;
}

#form_group_order {
  margin-bottom: 30px;
}

#label_order {
  font-weight: bold;
}

#inputDate1 {
  width: 93%;
}

#inputDate2 {
  margin-top: 37px;
  width: 93%;
}

#status_order {
  width: 92%;
}

#form_check_filter {
  padding-left: 0px;
}

#infor_order {
  text-align: center;
  margin-top: 30px;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu > .dropdown-menu > ul > li > a {
  color: red;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}
