/* stylelint-disable no-descending-specificity */
.product-details {
  overflow: hidden;
  margin-bottom: 40px;
  margin-top: 10px;
}

#similar-product {
  margin-top: 40px;
}

#reviews {
  padding-left: 25px;
  padding-right: 25px;
}

.view-product {
  position: relative;
}

.view-product img {
  border: 1px solid #f7f7f0;
  height: 380px;
  width: 100%;
}

.view-product h3 {
  background: #fe980f;
  bottom: 0;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 0;
  padding: 8px 20px;
  position: absolute;
  right: 0;
}

#similar-product .carousel-inner .item {
  padding-left: 0;
}

#similar-product .carousel-inner .item img {
  display: inline-block;
  margin-left: 15px;
  height: 84px;
  width: 84px;
}

.item-control {
  position: absolute;
  top: 35%;
}

.item-control i {
  background: #fe980f;
  color: #fff;
  font-size: 20px;
  padding: 5px 10px;
}

.item-control i:hover {
  background: #ccccc6;
}

.product-information {
  border: 1px solid #f7f7f0;
  overflow: hidden;
  padding-bottom: 60px;
  padding-left: 40px;
  padding-top: 60px;
  position: relative;
}

.newarrival {
  position: absolute;
  top: 0;
  left: 0;
}

.product-information h2 {
  color: #363432;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin-top: 0;
}

.product-information p {
  color: #696763;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 5px;
}

.product-information span {
  display: inline-block;
  margin-bottom: 8px;
  margin-top: 18px;
}

.product-information span span {
  color: #fe980f;
  float: left;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 700;
  margin-right: 20px;
  margin-top: 0;
}

.product-information span input {
  border: 1px solid #dededc;
  color: #696763;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 700;
  height: 33px;
  outline: medium none;
  text-align: center;
  width: 50px;
}

.product-information span label {
  color: #696763;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin-right: 5px;
}

.share {
  margin-top: 15px;
}

.cart {
  background: #fe980f;
  border: 0 none;
  border-radius: 0;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.shop-details-tab {
  border: 1px solid #f7f7f0;
  margin-bottom: 75px;
  margin-left: 15px;
  margin-right: 15px;
  padding-bottom: 10px;
}

.shop-details-tab .col-sm-12 {
  padding-left: 0;
  padding-right: 0;
}

#details {
  padding-left: 25px;
  padding-right: 25px;
}

#reviews ul {
  background: #fff;
  border: 0 none;
  list-style: none outside none;
  margin: 0 0 20px;
  padding: 0;
}

#reviews ul li {
  display: inline-block;
}

#reviews ul li a {
  color: #696763;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding-right: 15px;
}

#reviews ul li a i {
  color: #fe980f;
  padding-right: 8px;
}

#reviews ul li a:hover {
  background: #fff;
  color: #fe980f;
}

#reviews p {
  color: #363432;
}

#reviews form span {
  display: block;
}

#reviews form span input {
  background: #f0f0e9;
  border: 0 none;
  color: #a6a6a1;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  outline: medium none;
  padding: 8px;
  width: 48%;
}

#reviews form span input:last-child {
  margin-left: 3%;
}

#reviews textarea {
  background: #f0f0e9;
  border: medium none;
  color: #a6a6a1;
  height: 195px;
  margin-bottom: 25px;
  margin-top: 15px;
  outline: medium none;
  padding-left: 10px;
  padding-top: 15px;
  resize: none;
  width: 99.5%;
}

#reviews button {
  background: #fe980f;
  border: 0 none;
  border-radius: 0;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.socials-share {
  margin-top: 19px;
}

.socials-share a {
  padding: 3px 10px 0 10px;
  color: #fff;
  line-height: 2em;
  text-decoration: none;
  border-radius: 2px;
  white-space: nowrap;
  display: inline-block;
  margin-bottom: 4px;
}

.socials-share span.fa {
  margin-right: 3px;
  margin-top: 0;
}

.category-tab {
  overflow: hidden;
}

.category-tab ul {
  background: #40403e;
  border-bottom: 1px solid #fe980f;
  list-style: none outside none;
  margin: 0 0 30px;
  padding: 0;
  width: 100%;
}

.category-tab ul li a {
  border: 0 none;
  border-radius: 0;
  color: #b3afa8;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}

.category-tab ul li a:hover {
  background: #ebedef;
  color: #fe980f;
}

.nav-tabs li.active a,
.nav-tabs li.active a:hover,
.nav-tabs li.active a:focus {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #fe980f;
  border: 0;
  color: #fff;
  cursor: default;
  margin-right: 0;
  margin-left: 0;
}

.nav-tabs li a {
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px 4px 0 0;
  line-height: 1.42857;
  margin-right: 0;
}

.bg-facebook {
  background: #3a5899;
}

.bg-facebook:hover,
.bg-facebook:focus {
  background: #1d418d;
}

.bg-twitter {
  background: #00acee;
}

.bg-twitter:hover,
.bg-twitter:focus {
  background: #0b93c7;
}

.bg-pinterest {
  background: #cb1e26;
}

.bg-pinterest:hover,
.bg-pinterest:focus {
  background: #ae0e15;
}

.bg-email {
  background: #dd5348;
}

.bg-email:hover,
.bg-email:focus {
  background: #ce3f34;
}

.product-star-rating {
  font-size: 17px;
}

.product-star-rating:hover {
  color: #fe980f;
}
/* stylelint-enable no-descending-specificity */
